body
{
    background-color:lightseagreen;
}
#score
{
    font-size:25px;
    float:left;
    margin-left:10px;
}
#timer
{
    font-size:25;
    float:right;
    margin-right:200px;
}
#sketch
{
    color:darkgreen;
}